<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "My Project" %></h1>
  <p>Clique on the link below to register</p>
</section>

<section class="row">
  <article class="column">
    <h2>Register users</h2>
    <ul>
      <li>
        <a href="/users">Register Page</a>
      </li>
    </ul>
  </article>
  <article class="column">
  </article>
</section>
