<section class="phx-hero">
  <h1><%= gettext "Hello my name is %{name}!", name: "Douglas Alves" %></h1>
  <p>I'm Elixir Backend Developer</p>
</section>

<section class="row">
  <article class="column">
   <h2>Projects</h2>
    <ul>
      <li>
        <a href="/users">Register Users</a>
      </li>
      <li>
        <a href="/users">Second Project</a>
      </li>
    </ul>
  </article>
  <article class="column">
  </article>
</section>
